
.card:hover {
    transform: translateY(-2px);
    transition: 0.2s ease-in;
}

.card:hover .title {
    color: var(--clr-primary);
}

.card img {
    transition: transform 0.5s ease 0s;
}

.card:hover img {
    transform: scale(1.1);
}

.card_box .card {
    background: none;
}

.card_box {
    position: relative;
}

.card_box span::before {
    content: "";
    position: absolute;
    width: 95%;
    height: 95%;
    background-color: #f3f4f6;
    border-radius: 50%;
    left: 0;
    z-index: -1;
}