.top_header {
    background: var(--clr-primary);
}

.top_header .dropdown .dropdown-toggle {
    background: none;
    border: 0;
    padding: 0;
}

.search_box .bi {
    top: 12px;
    right: 15px;
}

/* Animation custom Offcanvas Navbar */
.offcanvas.navbarOffcanvas {
  transition: 
    transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1),
    opacity 0.4s ease;
}

.menu .navbar-nav .nav-link {
    font-size: var(--fs-body);
    color: var(--clr-heading);
    padding: 16px 12px;
    font-weight: 600;
    text-transform: capitalize;
}

.menu .navbar-nav .nav-link:hover {
    color: var(--clr-primary);
}

.menu .dropdown-submenu .dropdown-menu .dropdown-item,
.menu .dropdown-menu .dropdown-item,
.offcanvas-body .dropdown-menu .dropdown-item {
    font-size: var(--fs-body);
    color: var(--clr-text);
    padding: 10px;
}

.menu .dropdown-submenu .dropdown-menu .dropdown-item:hover,
.menu .dropdown-menu .dropdown-item:hover {
    color: var(--clr-heading);
}

.menu .category_list .dropdown .dropdown-toggle::after {
    display: none;
}


.menu .navbar-nav .dropdown .dropdown-toggle::after {
    content: "\f282";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    border: none;
    font-size: 12px;
    margin-right: 5px;
}

.menu .navbar-nav .show.dropdown .dropdown-toggle::after {
    content: "\f286";
}

/* Desktop */

@media only screen and (min-width: 991px) {
    .menu .dropdown-submenu:hover .dropdown-menu,
    .menu .dropdown:hover .dropdown-menu {
        opacity: 1;
        transform: scaleY(1);
        visibility: visible;
    }

    .menu .dropdown-submenu .dropdown-menu,
    .menu .dropdown .dropdown-menu {
        display: block;
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.3s ease-in;
        visibility: hidden;
        min-width: 12rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1019607843),
        0 4px 6px -4px rgba(0, 0, 0, 0.1019607843);
        border-radius: 0;
        margin: 0;
        border: 0;
    }

    .menu .dropdown-fullwidth {
        position: unset;
    }

    .navbar .dropdown-fullwidth .dropdown-menu {
        left: 0;
        margin: 1.25rem auto;
        max-width: 1320px;
        padding: 1.5rem;
        right: 0;
        top: 27px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1019607843),
        0 4px 6px -4px rgba(0, 0, 0, 0.1019607843);
    }
}

/* Mobile CSS */
@media only screen and (max-width: 991px) {
    .offcanvas-body .nav-link {
        border-bottom: 1px solid var(--clr-secondary);
        font-size: var(--fs-body);
        color: var(--clr-text);
        padding: 10px 12px;
    }

    .category_list {
        margin-bottom: 10px;
    }

    .offcanvas-body .dropdown .dropdown-toggle::after {
        content: "\f282";
        display: inline-block;
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-weight: 400 !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: middle;
        border: none;
        position: absolute;
        right: 0;
    }

    .offcanvas-body .show.dropdown .dropdown-toggle::after {
        content: "\f286";
    }

    .offcanvas-body .category_list .dropdown .dropdown-toggle::after {
       display: none;
    }
}